html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    color: seashell;
}
header {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: fixed;
  }
  
  .logo {
    height: 50px;
    margin-left: 10px;
    float: left;
    margin-top: 10px;
  }
  
  nav {
    float: right;
  }
  
  nav ul li {
    display: inline-flex;
    padding: 10px;
    text-decoration: underline;
  }  


a {
    color: seashell;
}
a:hover {
    color: grey;
}
a:active {
    color: violet;
}
.mission {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*p5g2qe*_gcl_aw*R0NMLjE3MjE1NjU4MzguQ2p3S0NBanc0X0swQmhCc0Vpd0FmVlZaXy0ybGVQZnZ5SWRJRUZpSTJINW5vT1Q4ZV9MTWJ6eWV1dnVHM3RUZllPaGlsYmlSS1Z0aXBob0NjSVFRQXZEX0J3RQ..*_gcl_au*ODIwNjgwNzg1LjE3MjE1NjU4Mzg.*_ga*MTAwNzY5MTEzNC4xNzIyODAzOTky*_ga_3LRZM6TM9L*MTcyMjgwMjI1MS4zNy4xLjE3MjI4MDQwMTEuMC4wLjA.");
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
   margin: auto;
}
.mission div {
    background-color: black;
    width: 100%;
}
#featured-tea {
    width: 1000px;
   margin: auto;
}
#featured-tea h2,h4{
    text-align: center;

}
.fotos img {
    height: 200px;
    width: 300;
    margin: 10px;
}
.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    width: 1000px;
    margin: auto;
}
.locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*v5f70u*_gcl_aw*R0NMLjE3MjE1NjU4MzguQ2p3S0NBanc0X0swQmhCc0Vpd0FmVlZaXy0ybGVQZnZ5SWRJRUZpSTJINW5vT1Q4ZV9MTWJ6eWV1dnVHM3RUZllPaGlsYmlSS1Z0aXBob0NjSVFRQXZEX0J3RQ..*_gcl_au*ODIwNjgwNzg1LjE3MjE1NjU4Mzg.*_ga*MTAwNzY5MTEzNC4xNzIyODAzOTky*_ga_3LRZM6TM9L*MTcyMjgwMjI1MS4zNy4xLjE3MjI4MDQwMTEuMC4wLjA.");
    height: 500px;
    width: 1200px;
    margin: auto;
    text-align: center;
}
.locations h2 {
    margin-bottom: 10px;
  padding-top: 69px;
}
.box1 {
    display: flex;
    justify-content: center;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 0 20px;
    opacity: 1;
  }
  contact {
    text-align: center;
    height: 200px;
    margin-top: 15px;
  }
  
  footer {
    text-align: left;
    margin-left: 20px;
  }